---

---



$ocelot-orange: #f05f00;

$ocelot-grey: #404040;


.light-text {
  color: lighten($ocelot-grey, 30%);
}

.navbar-header img {

    float: left;

    margin-top: 6px;

    margin-right: 15px;

    margin-left: 5px;

}



.navbar-nav li .spacer {

    margin-top: 14px;

    color: #777;

    opacity: .5;

}



.navbar-nav li .spacer::before {

    content: "|";

}



article {

    .blog-center {

        text-align: center;

    }



    .globalhack-screenshots img {

        width: 25%;

        height: 25%;

        margin: 5px;

    }

    img {

        border-style: solid;

        border-width: 1px;

        border-color: gray;

    }

}





.team-member {

    margin-bottom: 25px;

    text-align: center;

    img {

        margin: 0 auto;

        border: 7px solid #fff;

    }

    h4 {

        margin-top: 25px;

        margin-bottom: 0;

        text-transform: none;

    }

    p {

        margin-top: 0;

    }

}



.social-buttons {

    li {

        a {

            display: block;

            width: 40px;

            height: 40px;

            border-radius: 100%;

            font-size: 20px;

            line-height: 40px;

            outline: 0;

            color: #fff;

            background-color: #222;

            -webkit-transition: all .3s;

            -moz-transition: all .3s;

            transition: all .3s;

            &:hover, &:focus, &:active {

                background-color: $ocelot-orange;

            }

        }

    }

}



.footer-social {

    margin-bottom: 50px;

    text-align: center;

    img {

        margin: 0 auto;

        border: 7px solid #fff;

    }



}



section {

    padding: 25px 0;

    &#contact {

        background-color: #222;

        background-image:  url(../img/map-image.png);

        background-position: center;

        background-repeat: no-repeat;

        .section-heading, .section-subheading {

            color: #fff;

        }

        .form-group {

            margin-bottom: 25px;

            input {

                padding: 20px;

                &.form-control {

                    height: auto;

                    &:focus {

                        border-color: $ocelot-orange;

                        box-shadow: none;

                    }

                }

            }

            textarea {

                padding: 20px;

                &.form-control {

                    height: 236px;

                    &:focus {

                        border-color: $ocelot-orange;

                        box-shadow: none;

                    }

                }

            }

        }

        .text-danger {

            color: #e74c3c;

        }

        &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder{

            text-transform: uppercase;

            font-family: "{{ site.data.template.font.primary }}";

            font-weight: 700;

            color: #bbb;

        }

    }

    &#blog-preview {

        padding: 0px 0;

    }

    &#about {

        padding-bottom: 10px;

    }



    &#post {

        margin-top: 25px;

    }



    &#post .post-heading {

        margin-bottom: 25px;

    }



    &#careers {

        .panel-body {

            min-height: 200px;

        }

        button {

            .fa {

                margin-left: 5px;

            }

        }

    }

}



.post-preview {

    > a {

        color: #404040;

        &:hover, &:focus {

            text-decoration: none;

            color: #0085a1;

        }

    }

    > .post-title {

        font-size: 30px;

        margin-top: 30px;

        margin-bottom: 10px;

        @media only screen and (min-width: 768px) {

            font-size: 36px;

        }

    }

    > .post-subtitle {

        margin: 0;

        font-weight: 300;

        margin-bottom: 10px;

    }

    > .post-meta {

        color: #808080;

        font-size: 18px;

        font-style: italic;

        margin-top: 0;

        > a {

            text-decoration: none;

            color: #404040;

            &:hover, &:focus {

                color: #0085a1;

                text-decoration: underline;

            }

        }

    }

}
