---
title: Ocelot Consulting
serviceGroups:
  - services:
    - image: /assets/images/cloud-technologies.jpg
      title: Cloud Migration
      description: Whether your company is wanting to leverage a cloud environment for the first time, expand an existing deployment, or modernize the flow between on premise and cloud systems, we have engineers that have successfully done it all.
      link: /services/cloud-technologies
    - image: /assets/images/data.jpg
      title: Data Management
      description: With data being named the worlds most valuable resource, many companies are scrambling to understand and govern their own information assets. We accelerate these practices while designing and deploying data governance plans.
      link: /services/data
    - image: /assets/images/security.jpg
      title: Security & Compliance
      description: With experts that have helped clients with Health Insurance Portability and Accountability Act (HIPAA), Sarbenes Oxley (SOX), and General Data Protection Regulation (GDPR) compliance, you can trust that we will keep your assets safe.
      link: /services/enterprise-security
  - services:
    - image: /assets/images/magnifying-glass.jpg
      title: Analytics
      description: We live in an era that contributes 2.5 quintillion bytes of data daily. We have experts that can help you analyze all that information so you can make more informed decisions and help advance your business.
      customClass: is-offset-2
      link: /services/analytics
    - image: /assets/images/helloquence-61189-unsplash.jpg
      title: Application Development
      description: Your business is complex and uniquely your own. Too often there are no readily availiable prebuilt tools that can meet all of your indiviual needs. Ocelot can help you analyze your options and work with you to build the right tool to help you do your jobs the best way possible.
      link: /services/application-development
industryGroups:
  - industries:
    - icon: fa-heartbeat
      title: Healthcare
      description: From migrating applications to AWS cloud to deploying and integrating 3rd party business intelligence tools as well as building custom analytics platforms Ocelot has the skills to help healthcare clients keep up with technology while maintaining critical data security.
      caseStudy: /industries/healthcare.html
    - icon: fa-tools
      title: Utilities
      description: Ocelot has experience building data warehouses and integrating data analytics tool suites for clients in the utilities industry to better enable them to monitor the services they provide.
      caseStudy: /industries/utilities.html
  - industries:
    - icon: fa-money-check
      title: Financial Services
      description: Within the financial industry, the ability to adapt to an ever-changing landscape while maintaining data accuracy and security is critical. Ocelot has the expertise and experience to help in your continued growth.
      caseStudy: /industries/financial_services.html
    - icon: fa-phone
      title: Telecommunication
      description: Having performant and easy to use tools is critical to ensuring successful customer service. Ocelot can help you increase and improve the tools at your disposal to ensure your customers are helped as quickly and accurately as possible.
      caseStudy: /industries/telecom.html
  - industries:
    - icon: fa-users
      title: Human Resources
      description: Finding the right candidate for your open positions can be a time consuming process with a lot of manual work. Ocelot has experience working with systems that make this easier. From posting new openings to filtering candidates, we can help simplify your process.
      caseStudy: /industries/hr.html
      customClass: is-offset-3
---
<!doctype html>
<html>
  {% include header.html %}
  <body id="home">
    {% include nav.html %}
    {% include highlights.html %}
    {% include arrow.html %}
    {% include information.html %}
    {% include contact-us.html %}
  </body>
</html>
