{% include home.html %}
<section id="careers">
  <div class="container">
    <div class="row">
      {% for posting in site.data.postings %}
      <div class="col-sm-12 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>
              <a href={{ posting.url }}>{{ posting.title }}</a>
            </h4>
          </div>
          <div class="panel-body">
            {{ posting.description }}
          </div>
          <div class="panel-footer">
            <a href={{ posting.url }}>
              <button type="button" class="btn btn-default">Details</button>
            </a>
            <a href={{ posting.indeed }} class="pull-right">
              <button type="button" class="btn btn-primary" target="_indeed">
                Apply
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</section>
