<section class="section grey-dark-1">
<script src="https://www.google.com/recaptcha/api.js?render={{ site.recaptcha.siteKey }}"></script>

<script>
  function onSubmitContactFormClick(e) {
    var contactForm = document.getElementById('contactForm')
    contactForm.reportValidity() &&
    grecaptcha.ready(function() {
      console.info('executing grecaptcha.execute()')
      grecaptcha.execute('{{ site.recaptcha.siteKey }}', {action: 'submit'}).then(function(token) {
        document.getElementById('_recaptcha').value = token
        contactForm.submit()
      });
    });
  }
</script>
<div id="contact">
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-white">
            Begin your journey today
          </h1>
          <h3 class="subtitle subtitle__white">
            Give us a call at <a href="tel:+1314-384-3225" class="subtitle__link">+1 314 384 3225</a> or send us a message.
          </h3>
          <form
            name="contactForm"
            id="contactForm"
            action="{{ site.contactForm.url }}"
            method="POST"
          >
            <input type="hidden" id="_to" name="_to" value="{{ site.contactForm.to }}" >
            <input type="hidden" id="_honeypot" name="_honeypot" value="" >
            <input type="hidden" id="_recaptcha" name="_recaptcha" value="" >
            <div class="columns">
              <div class="column">
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" placeholder="Your Name *" id="name" name="name" minlength="4" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="email" class="input" placeholder="Your Email *" id="email" name="email" pattern="^.*@.*\.[a-zA-Z]*$" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" placeholder="Subject *" id="subject" name="subject" minlength="4" required>
                    </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" placeholder="Your Message *" rows="4" id="message" name="message" minlength="15" required style="height: 132px;" ></textarea>
                    </div>
                </div>
                <input type="hidden" name="_redirect" value="{{ site.contactForm.redirect }}" />
              </div>
            </div>
            <button
              type="button"
              class="button button--white is-outlined"
              onclick="onSubmitContactFormClick()"
            >
              Send Message
            </button>
        </form>
        </div>
      </div>
      <div class="social-media-container">
        <span class="social-media-container__icon">
          <a class="button button--rounded-button" href="https://twitter.com/ocelot_llc">
            <i class="fab fa-twitter"></i>
          </a>
        </span>

        <span class="social-media-container__icon">
          <a class="button button--rounded-button" href="https://github.com/ocelotconsulting/">
            <i class="fab fa-github"></i>
          </a>
        </span>

        <span class="social-media-container__icon">
          <a class="button button--rounded-button" href="https://www.linkedin.com/company/ocelot-consulting-llc/">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </span>

        <span class="social-media-container__icon">
          <a class="button button--rounded-button" href="https://www.facebook.com/ocelotconsultingllc/">
            <i class="fab fa-facebook-f"></i>
          </a>
        </span>

        <span class="social-media-container__icon">
          <a class="button button--rounded-button" href="https://www.ocelotconsulting.com/feed.xml">
            <i class="fas fa-rss"></i>
          </a>
        </span>

        <span class="social-media-container__icon">
          <a class="button button--rounded-button" href="http://slack-registration.foxeared.com/">
            <i class="fab fa-slack"></i>
          </a>
        </span>
      </div>
      {% if page.attribution %}
      <div class="columns">
        <div class="column attribution">
          <div>{{ page.attribution }}</div>
        </div>
      </div>
      {% endif %}
    </section>
  </div>
</section>