<section class="section grey-dark-1">
<script src="https://www.google.com/recaptcha/api.js?render={{ site.recaptcha.siteKey }}"></script>

<script>
  function onSubmitContactFormClick(e) {
    var contactForm = document.getElementById('contactForm')
    contactForm.reportValidity() &&
    grecaptcha.ready(function() {
      console.info('executing grecaptcha.execute()')
      grecaptcha.execute('{{ site.recaptcha.siteKey }}', {action: 'submit'}).then(function(token) {
        document.getElementById('_recaptcha').value = token
        contactForm.submit()
      });
    });
  }
</script>
<div id="contact">
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h3 class="title is-white">
            <p>Ocelot Consulting</p>
            <p>11477 Olde Cabin Road</p>
            <p>Suite 320</p>
            <p>St. Louis, MO 63141</p>
          </h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.1903609648025!2d-90.43805568425879!3d38.66749297960676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87df32b95124c171%3A0x3dd3f3ebb5b7dd3a!2s11477%20Olde%20Cabin%20Rd%2C%20St.%20Louis%2C%20MO%2063141!5e0!3m2!1sen!2sus!4v1597860158158!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          <h1 class="title is-white">
            Begin your journey today
          </h1>
          <h3 class="subtitle subtitle__white">
            Give us a call at <a href="tel:+1314-384-3225" class="subtitle__link">+1 314 384 3225</a> or send us a message.
          </h3>
          <form
            name="contactForm"
            id="contactForm"
            action="{{ site.contactForm.url }}"
            method="POST"
          >
            <input type="hidden" id="_to" name="_to" value="{{ site.contactForm.to }}" >
            <input type="hidden" id="_honeypot" name="_honeypot" value="" >
            <input type="hidden" id="_recaptcha" name="_recaptcha" value="" >
            <div class="columns">
              <div class="column">
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" placeholder="Your Name *" id="name" name="name" minlength="4" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="email" class="input" placeholder="Your Email *" id="email" name="email" pattern="^.*@.*\.[a-zA-Z]*$" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" placeholder="Subject *" id="subject" name="subject" minlength="4" required>
                    </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" placeholder="Your Message *" rows="4" id="message" name="message" minlength="15" required style="height: 132px;" ></textarea>
                    </div>
                </div>
                <input type="hidden" name="_redirect" value="{{ site.contactForm.redirect }}" />
              </div>
            </div>
            <button
              type="button"
              class="button button--white is-outlined"
              onclick="onSubmitContactFormClick()"
            >
              Send Message
            </button>
        </form>
        </div>
      </div>
      <div class="social-media-container">
        <span class="social-media-container__icon">
          <a class="button button--rounded-button" href="https://github.com/ocelotconsulting/" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </span>

        <span class="social-media-container__icon">
          <a class="button button--rounded-button" href="https://www.linkedin.com/company/ocelot-consulting-llc/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </span>

        <span class="social-media-container__icon">
          <a class="button button--rounded-button" href="https://www.youtube.com/channel/UCyUwGnUVNRWWQJtGkTZQaKQ"
            target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
        </span>

        <span class="social-media-container__icon">
          <a class="button button--rounded-button" href="https://www.facebook.com/ocelotconsultingllc" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
        </span>

        <span class="social-media-container__icon">
          <a class="button button--rounded-button" href="https://www.instagram.com/ocelot_llc/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </span>

        <span class="social-media-container__icon">
          <a class="button button--rounded-button" href="https://www.ocelotconsulting.com/feed.xml" target="_blank">
            <i class="fas fa-rss"></i>
          </a>
        </span>

        <span class="social-media-container__icon">
          <a class="button button--rounded-button" href="https://join.slack.com/t/ocelot-consulting-pub/shared_invite/zt-fbfmqoz9-30Ur9KmHYALDm17akmGOng" target="_blank">
            <i class="fab fa-slack"></i>
          </a>
        </span>
      </div>
      {% if page.attribution %}
      <div class="columns">
        <div class="column attribution">
          <div>{{ page.attribution }}</div>
        </div>
      </div>
      {% endif %}
    </section>
  </div>
</section>
