<!-- Footer -->
<footer>

    <div class="container">
      <div class="footer-social">
        <div class="row">
          <div class="col-sm-12">
              <ul class="list-inline social-buttons">
                {% for social in site.social %}
                <li>
                  <a href="{{ social.url }}">
                    <i class="fa fa-{{ social.title }}"></i>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>
                        <a href="/#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#team">Team</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#contact">Contact</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
        </div>
      </div>
    </div>
</footer>
