<head>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/normalize.css' | relative_url }}" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
  <link rel="stylesheet" href="{{ '/assets/css/code.css' | relative_url }}" />

  <!-- Favicon legacy fallback. -->
  <link rel="shortcut icon" href="{{ '/assets/images/icons/favicon.ico' | relative_url }}" />

  <!-- Favicons for newer generation browsers. -->
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ '/assets/images/icons/favicon-16x16.png' | relative_url }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ '/assets/images/icons/favicon-32x32.png' | relative_url }}"
  />

  <!-- For iOS devices "Add to Homescreen". -->
  <link
    rel="apple-touch-icon"
    href="{{ '/assets/images/icons/apple-touch-icon.png' | relative_url }}"
  />

  <!-- For Android Chrome -->
  <link
    rel="icon"
    sizes="192x192"
    href="{{ '/assets/images/icons/android-chrome-192x192.png' | relative_url }}"
  />
  <link
    rel="icon"
    sizes="512x512"
    href="{{ '/assets/images/icons/android-chrome-512x512.png' | relative_url }}"
  />
</head>
