<div id="highlights">
  <section class="section grey-gradiant">
    <div class="background"></div>
    <div class="dot-background"></div>
    <div class="container">
      <div class="content">
        <div class="columns welcome-text is-hidden-mobile">
          <div class="column is-8">
            <ul style="margin: 15rem 0 0; ">
              <li>Expert solutions,</li>
              <li>built together</li>
            </ul>
          </div>
        </div>
        <div class="columns welcome-text is-hidden-tablet">
          <div class="column is-half">
            <ul style="margin: 15rem 0 0; ">
              <li>Expert solutions</li>
              <li>built together</li>
            </ul>
          </div>
        </div>
        <div class="columns welcome-cards--with-height">
        </div>
      </div>
  </section>
</div>