<div id="{{ include.id }}">
  <section class="hero {{ include.section }}">
      {% if include.padding %}
      <div class="icon-section--with-padding ">
      {% else" %}
      <div class="icon-section">
      {% endif %}
      <div class="container has-text-centered">
        <h1 class="icon-group-title">{{ include.title }}</h1>
        <div class="icon-group-subtitle">{{ include.subtitle }}</div>
        <div class="columns">
          {% for icon in include.icons %}
            <div class="column">
              <i class="fas {{ icon.icon }} fa-4x"></i>
              <div class="icon-title icon-title--padding-top">{{ icon.title }}</div>
              <div class="icon-description"> {{ icon.description }}</div>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
</section>
</div>
