.caseSection {
  min-height: 20rem;
}

.padding-top-1 {
  padding-top: 1rem;
}

.padding-no-top-2 {
  padding: 0 2rem 2rem 2rem;
}

.padding-top-2 {
  padding-top: 2rem;
}

.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 2rem;
}

.sectionDivider {
  background-color: lightgray;
  height: 1px;
}