#home {
  #nav {
    margin-top: 0rem;
  }
}

#nav {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  background-image: linear-gradient(-5deg,lighten( $primary, 10% ), $primary);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  .navbar-brand {
    .navbar-item {
    }
  }
}

.navbar-item {
  transition: color .3s;
  position: relative;
}

.navbar-link {
  transition: color .3s;
  position: relative;
}