:root {
  --color-accent: #FF6600;
  --color-accent-hover: #E55E04;

  --color-heading: #121418;
  --color-body: #444444;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --swiper-navigation-sides-offset: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

body {
  color: var(--color-body);
  font-size: 17px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

.swiper-button-prev,
.swiper-button-next {
  background: black;
  color: white !important;
  font-size: 1rem !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.swiper-button-prev {}
.swiper-button-next {}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1rem !important;
}

/* Hide the buttons when disabled */
.swiper-button-disabled {
  visibility: hidden;
}

.hero-slider img {
  transform-origin: center;
  transform: scale(1.05);
}

.hero-slider .swiper-slide-visible img {
  animation: zoomIn linear 6s;
}

.grecaptcha-badge {
  opacity: 0;
}