---
---

// @charset "utf-8"

@import "_variables";

/*! bulma.io v0.7.4 | MIT License | github.com/jgthms/bulma */
@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";

// body {
//   background-color: color(background);
//   font-family: 'Open Sans', sans-serif;
// }

.is-opensans-condensed {
  font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
}
.is-roboto {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}
.nav-spacer {
  padding-top: 4rem;
}
.content-spacer {
  padding-top: 5rem;
}

/* Suggested workaround for Bulma bug that causes horizontal 
   scrolling. See https://github.com/jgthms/bulma/issues/2242. */
.columns {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

/* The following were added to support the old
 * posts. They can be re-thought in the future
 * after we re-style the posts section. */
.posts-center {
  text-align: center;
}
.globalhack-screenshots img {
  width: 25%;
  height: 25%;
  margin: 5px;
  vertical-align: middle;
}

/* Styles the social media share buttons on the post pages
   From: https://nickjanetakis.com/blog/add-social-share-buttons-to-your-static-site-without-tracking */
.social-share-btns-container {
  font-size: 14px;
  text-align: left;
}
.social-share-btns {
  display: inline-block;

  .share-btn {
    margin: 0 5px;
    padding: 4px 8px;
    color: #fff;

    i {
      display: inline-block;
      margin-right: 5px;
    }
    
    &-twitter {
      background-color: #0087ba;
    }
    &-facebook {
      background-color: #2d4373;
    }
    &-linkedin {
      background-color: #005983;
    }
  }
}

/* In bulma, lists outside of .content
 * divs have no margins or padding
 * Content from bulma/elements/content.sass
 * and converted to scss
 */

.post-list-fix {
  li + li {
  margin-top: 0.25em;
  }

  ol,
  ul {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  ol {
    list-style-position: outside;
    margin-left: 2em;
    margin-top: 1em;
    &:not([type]) {
      list-style-type: decimal;
      &.is-lower-alpha {
        list-style-type: lower-alpha;
      }
      &.is-lower-roman {
        list-style-type: lower-roman;
      }
      &.is-upper-alpha {
        list-style-type: upper-alpha;
      }
      &.is-upper-roman {
        list-style-type: upper-roman;
      }
    }
  }

  ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;
    ul {
      list-style-type: circle;
      margin-top: 0.5em;
      ul {
        list-style-type: square;
      }
    }
  }
}

@import "_animations";
@import "_common";
@import "_nav";
@import "_hightlights";
@import "_page-contents";
@import "_home";
@import "_shared";
@import "_button";
@import "_heading-text";
@import "_video-collage";
@import "_contact-us";
@import "_industry";
@import "_case-study";
@import "_bulma-dashboard";
