---
---

// @charset "utf-8"

@import "_variables";

/*! bulma.io v0.7.4 | MIT License | github.com/jgthms/bulma */
@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";

// body {
//   background-color: color(background);
//   font-family: 'Open Sans', sans-serif;
// }

.is-opensans-condensed {
  font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
}
.is-roboto {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}
.nav-spacer {
  padding-top: 4rem;
}
.content-spacer {
  padding-top: 5rem;
}

/* Suggested workaround for Bulma bug that causes horizontal 
   scrolling. See https://github.com/jgthms/bulma/issues/2242. */
.columns {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

/* The following were added to support the old
 * posts. They can be re-thought in the future
 * after we re-style the posts section. */
.posts-center {
  text-align: center;
}
.globalhack-screenshots img {
  width: 25%;
  height: 25%;
  margin: 5px;
  vertical-align: middle;
}

// Styles the social media share buttons on the post pages
.social-share-floating-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.social-share-floating-bar a {
  display: block;
  transition: all 0.3s ease;
  padding: 16px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.social-share-btns-container {
  font-size: 14px;
  text-align: left;
}

.social-share-btns {
  display: inline-block;
}

.social-share-btns .share-btn {
  margin: 0 5px;
  padding: 4px 8px;
  color: #fff;
}

.social-share-btns .share-btn i {
  display: inline-block;
  margin-right: 5px;
}

.share-btn {
  background-color: #95a5a6;
}

.share-btn:hover, .share-btn:active, .share-btn:visited {
  background-color: #798d8f;
  text-decoration: none;
}

.share-btn-twitter {
  background-color: #0087ba;
}

.share-btn-twitter:hover, .share-btn-twitter:active, .share-btn-twitter:visited {
  background-color: #0087ba;
}

.share-btn-facebook {
  background-color: #2d4373;
}

.share-btn-facebook:hover, .share-btn-facebook:active, .share-btn-facebook:visited {
  background-color: #2d4373;
}

.share-btn-linkedin {
  background-color: #005983;
}

.share-btn-linkedin:hover, .share-btn-linkedin:active, .share-btn-linkedin:visited {
  background-color: #005983;
}

@import "_animations";
@import "_common";
@import "_nav";
@import "_hightlights";
@import "_page-contents";
@import "_home";
@import "_shared";
@import "_button";
@import "_heading-text";
@import "_video-collage";
@import "_contact-us";
@import "_industry";
@import "_case-study";
@import "_bulma-dashboard";
