<!doctype html>
<html>
{% include header.html %}

<body>
  {% include nav.html %}
  <div class='nav-spacer page-contents'>
    <div id="highlights">
      <section class="section grey-gradiant">
        <div class="{% if page.background %}{{ page.background }}{% else %}background{% endif %}-container">
          {% if page.background %}
          <div class="background {{ page.background }}">
            <div class="dot-background"></div>
          </div>
          {% else %}
          <div class="background"></div>
          {% endif %}
          <div class="container">
            <div class="content">
              <div class="columns welcome-text is-hidden-mobile">
                <div class="column is-6">
                  <ul class="is-size-1">
                    <li> {{ page.title }}</li>
                  </ul>
                </div>
                <div class="column is-5">
                  <h2 class="subtitle welcome-text__subtitle">
                    {{ page.subtitle }}
                  </h2>
                </div>
              </div>
              <div class="columns welcome-text is-hidden-tablet">
                <div class="column is-5">
                  <ul style="padding-left: 2rem;" class="is-size-1 has-text-left is-capitalized">
                    <li> {{ page.title }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container with-padding">
          <div class="columns is-centered is-mobile">
            <div class="column is-8-desktop is-10-tablet is-11-mobile">
              <p>
                <i>Posted by {{page.author}} on {{page.date | date: "%b %d, %Y"}}</i>
              </p>
              <div class="content">
                {{ content }}
              </div>
              <br/>
              <div class="social-share-btns-container">
                <div class="social-share-btns">
                  {% include share-buttons.html %}
                </div>
              </div>
            </div>
          </div> 
        </div>
      </section>
    </div>
  </div>
  {% include contact-us.html %}
</body>

</html>